/*-------------ESTILOS PARA LOS PLATILLOS DEL MENU----------------------*/
.grupo__titulo{
	font-family: 'Great Vibes', cursive;
	text-align: center;
	font-weight: 100;
	font-size: 4.5em;
	margin-top:  0px auto;
	padding: 5px 10px;
	/*border: 1px solid #DEDCDB;*/
	color: black;
}
.grupo__titulo span{
	color: red;
}
.img-galeria{
	margin: auto;
	width: 89%;
	padding: 15px;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: 0.5s ease;
	display: flex;
}
.img-galeria:hover{
	box-shadow: 4px 5px 5px 4px #F27C09;
	border-radius: 10px;
	border-top-right-radius:40px;
	
}
.decoracion{
	width: 35%;
	margin: 5px;
	align-items: center;
}
.especial{
	color: black;	
	width: 94%;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	margin: 12px; 
	padding: 10px 15px;
}
.especial span{
	color: red;
	font-weight: bold;
	font-size: 50px;
}
.container .titulo .text-center{
	color: red;
	font-size: 40px;
	text-align: left;
	margin: 10px;
	font-family: 'Charm', cursive;
}
.text-center .modal-title{
	font-family: 'Charm', cursive;
}
.text-center p{
	font-size: 1.5em;
	font-family: 'Charm', cursive;
}
footer .text-center p{
	font-family:'Pacifico';
	font-size: 1em;
}

.decoracion{
	text-align: center;
	object-fit: cover;
	width: 50px;
	margin-bottom: 50px;

}
.container{
	margin-top: 50px;
}