#cabeza{
	background-color: #F27C09; 
}
a.nav-link{
	color: #FFFFFF;
}
#icon:hover{
	color: #F7D80B;
	font-style: unset;
}

button {
	font-family: 'Nanum Myeongjo', serif;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
.navbar-toggler-icon{
	background-color: #FFFFFF;
}
.navbar-toggler:hover{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
.tt{
	font-family: monospace;
	color: red;
	font-size: 90px;
}
h2{
	text-align: center;
}

.ti{
	margin-bottom: 50px;
}
.te{
	font-family: monospace;
	color: red;
	font-size: 40px;
}

/*---------------- formulario ----------------*/
.texto{
	margin-top: 20px;
	font-size: 40px;
	text-align: center;
}
.datos{
	font-size: 20px;
}
.letra{
	color: red;
}
.form-label{
	color: black;
}
.co{
	font-size: 20px;
	color: red;
	font-family: serif;
}
.btn{
	font-family: 'Nanum Myeongjo', serif;
	margin-top: 10px;
	margin-bottom: 50px;
	width: 200px;
}
.btn2{
	font-family: 'Nanum Myeongjo', serif;
}
