#cabeza{
	background-color: #F27C09; 
}
a.nav-link{
	color: #FFFFFF;
}
#icon:hover{
	color: #F7DE0B;
	font-style: unset;
	font-weight: bold;
}

button {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
.navbar-toggler-icon{
	background-color: #FFFFFF;
}
.navbar-toggler:hover{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
.tt{
	font-family: monospace;
	color: red;
	font-size: 90px;
}
h2{
	text-align: center;
}

.ti{
	margin-bottom: 50px;
}
.te{
	font-family: monospace;
	color: red;
	font-size: 40px;
}

/*---------------- fondo (Cabeza)-----------------*/
#banner{
	background: url('../img/po.jpg');
	background-position: center center;
	background-size: cover;
	height: 100vh;
}
#titulo{
	font-family: cursive;
	font-size: 65px;
}
#pa1 ,#titulo{
	color: #fff;
}

/* ------------------ banner(LADOS) --------------- */
#ver{
	background: url(../img/gg.png);
	background-size: cover;
	color: #fff;
	padding: 60px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
	margin-left: 10px;
	margin-right: 10px;
}
#fotos{
	justify-content: center;
	margin-left: 0px;
	margin-right: 0px;

}
#foto1{
	margin-bottom: 30px;
	border-bottom-left-radius: 40px;
	border-top-right-radius:40px;
	box-shadow: 4px 5px #F27C09;	
	transition: 1s;
}
#foto1:hover{
	transform: scale(1.1);
	transition: 1s;
}	
.icon{
	justify-content: center;

}
a{
	text-align: center;
}
#carta{
	width: auto;
	text-align: center;
}
.btn2{
	color: black;
	border-radius: 30px;
	padding: 10px 30px;
	background-color: transparent;
	cursor: pointer;
	border: 2px solid red;
	font-size: 1.3em;
	transition: .5s;
	font-family: 'Charm', cursive;
}
.btn2:hover{
	background: red;
	color: white;
	margin-top: -10px;
	margin-bottom: 10px;
	transition: .5s;
}
/* ------------------ footer(PIE) --------------- */
#footer{
	background: url(../img/footer1.jpg);
	background-size: cover;
	padding: 30px;
	object-fit: cover;
	text-align: center;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
}
.titulo {
	color: #fff;
	font-size: 20px;
}
.txt__principal{
	color: #fff;
}
